[Unit]
Description=ZigBee Matrix Abstraction Layer for OS

[Service]
Type=simple
ExecStart=/usr/bin/malos_zigbee

[Install]
WantedBy=multi-user.target
After=matrix-creator-malos.service
